#container999 {
    height: 200px;
    width: 800px;
    border: 1px solid #333;
    overflow: hidden;
    margin: 25px auto;
}

#box999 {
    background: orange;
    height: 180px;
    width: 400px;
    margin: 10px -400px;
    -webkit-animation-name: move;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}

#box999:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}