.logo {
    width: 100%;
  }

.space{
  margin-left: 16px;
}

.baba{
  margin-left: 16px;
  margin-bottom: 16px;
}

.baba2{
  margin-left: 55px;
  margin-bottom: 16px;
}

.dec{
  text-decoration: underline;
}

.external{
  width: 50px;
  margin-right: 90px;
}

.external2{
  width: 50px;
}